@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

/* ==========================================================================
   PERSONALIZACIÓN DEL SIDEBAR (MODO MORADO COLEGIO SAN JUAN BAUTISTA)
   ========================================================================== */

.sidebar {
  // Fondo Morado Principal
  --cui-sidebar-bg: #824283;
  
  // Color del texto y los iconos (blanco con ligera transparencia para suavidad)
  --cui-sidebar-nav-link-color: rgba(255, 255, 255, 0.85);
  --cui-sidebar-nav-link-icon-color: rgba(255, 255, 255, 0.6);

  // Efecto cuando el mouse pasa por encima (Hover)
  --cui-sidebar-nav-link-hover-color: #ffffff;
  --cui-sidebar-nav-link-hover-bg: rgba(255, 255, 255, 0.15);

  // Color cuando el módulo está seleccionado (Active)
  --cui-sidebar-nav-link-active-color: #ffffff;
  --cui-sidebar-nav-link-active-bg: rgba(15, 78, 237, 0.2);

  // Color de la cabecera del sidebar (donde está el monstruo/logo)
  --cui-sidebar-brand-bg: rgba(0, 0, 0, 0.1);
  
  // Eliminamos bordes innecesarios para que se vea más limpio
  border-right: none;
}


.sidebar-nav .nav-title {
  color: rgba(255, 255, 255, 0.5) !important; // Un blanco muy tenue
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sidebar-nav .nav-link:hover .nav-icon {
  color: #ffffff !important;
}
